<!DOCTYPE html>
<html>

<head>
  <title>Calvin's Projects</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <style>
    body {
      background-image: url('background.png');
    }
  </style>
  <div class="intro">
    <div>
      <h1>Welcome! I hope you like what you see! :D</h1>
    </div>
    <div>
      <p>Hi! My name is Calvin.</p>
    </div>
  </div>
  <div class="project-list">
    {{ range . }}
    <div class="project-card">
      <h2 class="name-date">
        <a class="link left-item" href="pages/{{ .Name}}.html">{{ .Name}}</a>
        <span class="right-item">{{ .Date }}</span>
      </h2>
      <div class="description">
        <p>{{ .Description }}</p>
      </div>
    </div>
    {{ end }}
  </div>
</body>

</html>
